<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container mt-3">
      <h1></h1>
      <item-header data-title="<%= htmlWebpackPlugin.options.title %>"></item-header>
      <div id="app">
        <input class="form-control" data-component="item-filter"/>
        <!-- Commento di test -->
        <hr>
        <p class="alert alert-primary" data-component="item-counter"></p>
        <hr>
        <ul class="list-group" data-component="item-list"></ul>
        <hr>
        <button class="btn btn-primary" data-component="item-add">Aggiungi</button>
      </div>
    </div>
  </body>
</html>
